<!-- <ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Recmo</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Recmo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recu">
      <ion-icon name="card"></ion-icon>
      <ion-label>Recu</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Contact</ion-label>
      <ion-badge>3</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="article">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Article</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
