<ion-header>
    <ion-row>
        <ion-col size="10" size-sm>
            <ion-searchbar placeholder="Recherche"></ion-searchbar>
        </ion-col>
        <ion-col size="2" size-sm>
            <!-- <ion-icon size="small" slot="icon-only" name="star"></ion-icon> -->
            <!-- <ion-button size="small">User</ion-button> -->
            <!-- <ion-button size="small">
                <ion-icon slot="icon-only" name="user"></ion-icon>
            </ion-button> -->
            <ion-avatar>
                <a routerLink="/login"><img src="../../../assets/icon/avatar.png"></a> 
            </ion-avatar>
        </ion-col>
    </ion-row>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item-sliding>
          <ion-item>
            <ion-label>Lait</ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="edit(item)">Modifier</ion-item-option>
            <ion-item-option (click)="delete(item)">Supprimer</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        
        <ion-item-sliding>
            <ion-item>
              <ion-label>Lait</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="edit(item)">Modifier</ion-item-option>
              <ion-item-option (click)="delete(item)">Supprimer</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding>
            <ion-item>
              <ion-label>Lait</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="edit(item)">Modifier</ion-item-option>
              <ion-item-option (click)="delete(item)">Supprimer</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
      </ion-list>
</ion-content>
